
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Bikes
      </div>
      <div class="panel-body">

        <% @products.each do |product| %>
        <div class="row">
          <div class="col-md-7">
            <h4><%= product.name %></h4>
          </div>
          <div class="col-md-3 right">
            <%= link_to "View", product, class: "btn btn-default" %>

          </div>
        </div>
        <% end %>

      </div>
    </div>


  </div>
</div>
